.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
    padding: 1rem 3rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--darkgrey);
    color: var(--grey);
    border: none;
    border-radius: 3rem;
}
.search-input{
   color: var(--grey);
   background-color: var(--darkgrey);
   width: 100%;
   border: none;
   font-family: "Inter";
   font-size: 1.2rem;
}
.search-input:focus{
    outline: none;
}